* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #f7f7f7;
}

.padding_main {
    padding: 50px 50px 200px 50px;
}

.card {
    width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 20px;
}

._1gax {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f7;
    height: 160px;
}

.sp_-Ww9-2lZPiS {
    background-image: url(/lession-9-boostrap/homework/client/resources/img/171265022_157451189507238_8697192628982833494_n.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 42px;
    width: 42px;
}

.img {
    width: 100px;
    height: 50px ;
    cursor: pointer;
    text-align: center;
    
}

.form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    margin: 10px;
}

.forgot--password {
    color: #1877f2;
    font-size: 16px;
    font-weight: 400
}

.btn_login {
    display: inline-block;
    width: 100%;
}

.btn_create {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
