.counter {
    display: flex;
    justify-content: center;
    align-items: center;

}

.result {
    padding: 20px;
    min-width: 40px;
}

.counter button {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    border:none;
    outline: none;
    cursor: pointer;
    background-color:#ccc
}