*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.top {
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 20px;
    overflow: hidden;
    z-index: 2;
}

header {
    padding: 0.01em 16px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo__w3 {
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: absolute;
    top: 17px;
    font-weight: bold;
}

.logo__w3:hover {
    color: #4CAF50;
}

a {
    background-color: transparent;
    cursor: pointer;
}

.com--green {
    color: #4CAF50;
}

.float--right {
    float: right !important
}

.float--left {
    float: left !important;
}

.clear__float {
    content: "";
    display: table;
    clear: both;
}

.active {
    background-color: #4CAF50;
    color: #ffffff
}

#login__container {
    width: 80px;
    height: 50px;
}

.login__btn {
    line-height: 1.5;
    padding: 6px 14px;
    position: relative;
    top: 7px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    outline: none;
}

.float--right__text {
    margin-right: 20px;
    margin-top: 15px;
}

.header__w3-wide {
    letter-spacing: 4px;
}

.nav__top{
    position: relative;
    font-size: 17px;
    background-color: #5f5f5f;
    color: #f1f1f1;
    width: 100%;
    padding: 0.01em 16px ;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif
}

.nav__top--card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.bar--hidden {
    width: 100%;
    overflow: hidden;
}

.fa-home {
    font-size: 22px;
}

.flex--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--between > a {
    text-decoration: none;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    overflow: auto;
}

#leftmenuinner {
    overflow-y: scroll;
    height: 100%;
    width: 220px;
}

#leftmenuinnerinner {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    color: #000!important;
    background-color: #f1f1f1!important;
}

#leftmenuinnerinner > a {
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 2px 1px 1px 16px;
}

#leftmenuinnerinner > h2 {
    font-size: 21px;
    padding-left: 16px;
    margin: -4px 0 4px 0;
    width: 204px;
}

.sidebar--none {
    display: none;
    margin-left: 10px;
    background-color: #ddd;
    line-height: 1.8em;
}

#leftmenuinnerinner > a:hover {
    background-color: rgb(204, 204, 204);
}

.main--color {
    color: #000!important;
    background-color: #fff!important;
}

#main {
    padding: 16px 32px 32px 32px;
    border-right: 1px solid #f1f1f1;
    width: 79%
}

#main > h1 {
    font-size: 42px;
}

.btn {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #4CAF50;
}

.nextprev a.float--right, .nextprev a.float--left {
    background-color: #4CAF50;
    color: #ffffff;
    border-color: #4CAF50;
}

.nextprev a {
    font-size: 17px;
    border: 1px solid #cccccc;
}

.intro {
    font-size: 16px;
}

p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}

.codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
    background-color: rgba(222,222,222,0.3);
}

.table{
    margin: 20px 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

th:first-child, td:first-child,  th:first-child,  td:first-child {
    padding-left: 16px;
}

td, th,  td, th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

#report {
    padding: 0px 32px 0px 32px;
    width: 88%
}

.btn__report {
    font-size: 12px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 24%;
    color: #000!important;
    background-color: #f1f1f1
}

.btn__report:hover {
    background-color: rgb(204, 204, 204)
}

.footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__col > h4 {
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.footer__col > a {
    font-size: 12px;
}

.footer__col a:hover {
    text-decoration: underline;
    color: rgba(106, 255, 47, 0.993);
}

.footer__main {
    margin-left: 10%;
    margin-right: 10%;
}

.footer__btn:hover {
    color: #000!important;
    background-color: #ccc!important;
}

.footer__btn {
    margin-top: 16px!important;
    color: #fff!important;
    background-color: #616161!important;
    border: none;
    display: inline-block;
    padding: 8px ;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
}

.footer--center{
    text-align: center;
    font-size: 10px!important;
    opacity: 0.60;
}

.footer--center a{
    text-decoration: none;
}

.footer--center a:hover {
    text-decoration: underline;
    color: rgba(106, 255, 47, 0.993);
}