*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;

}

.header {
    display: flex;
    justify-content: space-between;
    height: 68px;
    padding-top: 20px;
    padding: 0.01em 16px
}

.icon {
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    top: 17px;
    cursor: pointer;
}

.dotcom {
    color: #4CAF50;
}

.toptext {
    margin-right: 20px;
    letter-spacing: 4px;
}

.login {
    line-height: 1.5;
    padding: 6px 14px;
    position: relative;
    top: 7px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
}

.login:focus {
    outline: none;
}

